<% if(error){ %>
	<div class="alert alert-error">
		<button class="close" data-dismiss="alert">x</button>
		There was an error while processing your request. Did you fill in da blanks?
		<% error.forEach(function(err){ %>
			<p>&bull; <%= err %></p>
    	<% }) %>
	</div>
<% } %>
<form method="post" action="/auth/new" class="in">
	<label for="nick">
		<input type="text" name="nick" id="nick" placeholder="Enter a nickname" value="<%= user.username %>">
	</label>
	<label for="email">
		<input type="email" name="email" id="email" placeholder="Enter your e-mail address" value="<%= user.email %>">
	</label>
	<label for="p1">
		<input type="password" name="p1" id="p1" placeholder="Enter a password">
	</label>
	<label for="p2">
		<input type="password" name="p2" id="p2" placeholder="Confirm the password">
	</label>
	<label for="fname">
		<input type="text" name="fname" id="fname" placeholder="Enter your first name" value="<%= user.fname %>">
	</label>
	<label for="lname">
		<input type="text" name="lname" id="lname" placeholder="Enter your last name" value="<%= user.lname %>">
	</label>
	<input type="submit" name="btnCreate" id="btnCreate" class="btn btn-large btn-info" value="Sign Up">
</form>
<script type="text/javascript" defer src="/js/auth.js"></script>